<header class = "main-header">
    <div class="main-header-top-bar">
        <a href = "/index"> <img src = "/images/logo-mercado-liebre.svg" class = "logo"></a>
        <form class = "search-bar">
            <input type = "text" value="Que deseas buscar?">
            <i class="fas fa-search"></i>
      </form>
      <h2 class = "copy-header">
        <i class="fas fa-hand-holding-usd"></i>
        Compra en cuotas y sin tarjeto de credito</h2>
    </div>

    <a href="#" class="hambu-button">
        <i class="fas fa-bars"></i>
    </a>

    <nav class ="main-navbar">
        <ul class = "left-navbar">
            <li><a href ="#">Ofertas</a></li>
            <li><a href ="#">Tiendas oficiales</a></li>
            <li><a href ="#">Vender</a></li>
            <li><a href ="#">Ayuda</a></li>
        </ul>

        <ul class = "right-navbar">
            <li><a href ="/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
            <li><a href ="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a> </li>
            <li><a href ="#">Mis compras <i class="fas fa-shopping-basket"></i></a> </li>
        </ul>
    </nav>
</header>