<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

    <%- include('partials/header') %> 

    <section class = "banner">
        <img src="/images/img-home-banner.jpg" width="100%">
    </section>

    <div class = "categorias">
    <section class = "categoria">

        <h5>Basado en tu ultima visita</h5>
        <section class = "articulos">
            <article>
                <div class = "foto">
                    <img src = "/images/img-cafetera-moulinex.jpg" width = "100%">
                </div>
                
                <div class = "detalle">

                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>$6.770</h3>
                </div>

                <div class = "descuento">
                    <h3>40% off</h3>
                </div>
            </div>

                 <div class = "nombre">
                    <h3>Cafetera Moulinex</h3>
                </div>
                
            </article>
            <article> 
                <div class = "foto">
                    <img src = "/images/img-macbook-pro-2019.jpg" width = "100%">
                </div>
               
                <div class="detalle">
               
                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>230.000</h3>
                </div>

                <div class = "descuento">
                    <h3>$20% off</h3>    
                </div>
            </div>

                <div class = "nombre">
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>

            <article> 
                <div class = "foto">
                    <img src = "/images/img-samsung-galaxy-s10.jpg" width = "100%">
                </div>
                
                <div class="detalle">

                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>$70.500</h3>
                </div>

                <div class = "descuento">
                    <h3>10% off</h3>
                </div>
            </div>
                <div class = "nombre">
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>

            <article> 
                <div class = "foto">
                    <img src = "/images/img-tv-samsung-smart.jpg" width = "100%">
                </div>
           
                <div class="detalle">

                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>$23.200</h3>
                </div>

                <div class = "descuento">
                    <h3>5% off</h3>
                </div>
            
            </div>
                <div class = "nombre">
                    <h3>Smart TV Samsung 43"</h3>
                </div>
            </article>
        </section>
    </section>

    <section class = "categoria">
    
        <h5>Ofertas</h5>
        <section class = "articulos">
            <article> 
                <div class = "foto">
                    <img src = "/images/img-cafetera-moulinex.jpg" width = "100%">
                </div>
               
                <div class="detalle">

                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>$6.770</h3>
                </div>

                <div class = "descuento">
                    <h3>40% off</h3>
                </div>
            
            </div>

                <div class = "nombre">
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>

            <article> 
                <div class = "foto">
                    <img src = "/images/img-macbook-pro-2019.jpg" width = "100%">
                </div>
               
                <div class="detalle">

                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>230.000</h3>
                </div>

                <div class = "descuento">
                    <h3>$20% off</h3>    
                </div>
      
            </div>
                <div class = "nombre">
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>

            <article> 
                <div class = "foto">
                    <img src = "/images/img-samsung-galaxy-s10.jpg" width = "100%">
                </div>
                <div class="detalle">
                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>$70.500</h3>
                </div>

                <div class = "descuento">
                    <h3>10% off</h3>
                </div>
                
            </div>

                <div class = "nombre">
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>


            <article> 
                <div class = "foto">
                    <img src = "/images/img-tv-samsung-smart.jpg" width = "100%">
                </div>
           
                <div class="detalle">

                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>$23.200</h3>
                </div>

                <div class = "descuento">
                    <h3>5% off</h3>
                </div>

            </div>
                <div class = "nombre">
                    <h3>Smart TV Samsung 43"</h3>
                </div>
            </article>
        </section>
    </section>
</div>

    <%- include('partials/footer') %>

</body>
</html>