<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel = "stylesheet" href = "./css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
   
    <title>Document</title>
</head>
<body>

    <header class = "main-header">
            <div class="main-header-top-bar">
                <a href = "/index"> <img src = "/images/logo-mercado-liebre.svg" class = "logo"></a>
                <form class = "search-bar">
                    <input type = "text" value="Que deseas buscar?">
                    <i class="fas fa-search"></i>
              </form>
              <h2 class = "copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeto de credito</h2>
            </div>

            <a href="#" class="hambu-button">
                <i class="fas fa-bars"></i>
            </a>

            <nav class ="main-navbar">
                <ul class = "left-navbar">
                    <li><a href ="#">Ofertas</a></li>
                    <li><a href ="#">Tiendas oficiales</a></li>
                    <li><a href ="#">Vender</a></li>
                    <li><a href ="#">Ayuda</a></li>
                </ul>

                <ul class = "right-navbar">
                    <li><a href ="/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
                    <li><a href ="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a> </li>
                    <li><a href ="#">Mis compras <i class="fas fa-shopping-basket"></i></a> </li>
                </ul>
            </nav>
    </header>

    <section class = "banner">
        <img src="/images/img-home-banner.jpg" width="100%">
    </section>

    <div class = "categorias">
    <section class = "categoria">

        <h5>Basado en tu ultima visita</h5>
        <section class = "articulos">
            <article>
                <div class = "foto">
                    <img src = "/images/img-cafetera-moulinex.jpg" width = "100%">
                </div>
                
                <div class = "detalle">

                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>$6.770</h3>
                </div>

                <div class = "descuento">
                    <h3>40% off</h3>
                </div>
            </div>

                 <div class = "nombre">
                    <h3>Cafetera Moulinex</h3>
                </div>
                
            </article>
            <article> 
                <div class = "foto">
                    <img src = "/images/img-macbook-pro-2019.jpg" width = "100%">
                </div>
               
                <div class="detalle">
               
                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>230.000</h3>
                </div>

                <div class = "descuento">
                    <h3>$20% off</h3>    
                </div>
            </div>

                <div class = "nombre">
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>

            <article> 
                <div class = "foto">
                    <img src = "/images/img-samsung-galaxy-s10.jpg" width = "100%">
                </div>
                
                <div class="detalle">

                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>$70.500</h3>
                </div>

                <div class = "descuento">
                    <h3>10% off</h3>
                </div>
            </div>
                <div class = "nombre">
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>

            <article> 
                <div class = "foto">
                    <img src = "/images/img-tv-samsung-smart.jpg" width = "100%">
                </div>
           
                <div class="detalle">

                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>$23.200</h3>
                </div>

                <div class = "descuento">
                    <h3>5% off</h3>
                </div>
            
            </div>
                <div class = "nombre">
                    <h3>Smart TV Samsung 43"</h3>
                </div>
            </article>
        </section>
    </section>

    <section class = "categoria">
    
        <h5>Ofertas</h5>
        <section class = "articulos">
            <article> 
                <div class = "foto">
                    <img src = "/images/img-cafetera-moulinex.jpg" width = "100%">
                </div>
               
                <div class="detalle">

                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>$6.770</h3>
                </div>

                <div class = "descuento">
                    <h3>40% off</h3>
                </div>
            
            </div>

                <div class = "nombre">
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>

            <article> 
                <div class = "foto">
                    <img src = "/images/img-macbook-pro-2019.jpg" width = "100%">
                </div>
               
                <div class="detalle">

                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>230.000</h3>
                </div>

                <div class = "descuento">
                    <h3>$20% off</h3>    
                </div>
      
            </div>
                <div class = "nombre">
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>

            <article> 
                <div class = "foto">
                    <img src = "/images/img-samsung-galaxy-s10.jpg" width = "100%">
                </div>
                <div class="detalle">
                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>$70.500</h3>
                </div>

                <div class = "descuento">
                    <h3>10% off</h3>
                </div>
                
            </div>

                <div class = "nombre">
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>


            <article> 
                <div class = "foto">
                    <img src = "/images/img-tv-samsung-smart.jpg" width = "100%">
                </div>
           
                <div class="detalle">

                <div class = "truck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class = "precio">
                    <h3>$23.200</h3>
                </div>

                <div class = "descuento">
                    <h3>5% off</h3>
                </div>

            </div>
                <div class = "nombre">
                    <h3>Smart TV Samsung 43"</h3>
                </div>
            </article>
        </section>
    </section>
</div>

    <footer>
        <div class = "beneficios">
            <div class = "beneficio">
                <i class="fab fa-cc-visa"></i>
                <h2>Paga con tarjeta o en efectivo</h2>     
                <p>Con MercadoLiebre tenes cuotas sin inters con tarjeta o efectivo en puntos de pago! Y siempre es seguro!</p>
            </div>

            <div class="beneficio">
                <i class="fas fa-gift"></i>
                <h2>Envio Gratis desde los $ 2.500</h2>
                <p>Solo por estar registrado en MercadoLiebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

            </div>

            <div class="beneficio">
                <i class="fas fa-user-shield"></i>
                <h2>Seguridad de pricipio a fin</h2>
                <p>No te gusta? Devolvelo! En MercadoLiebre tenes envios gratis en miles de productos. Es un beneficio de Mercado 
                    Puntos
                </p>
            </div>
        </div>

        <div class = "copyright">
            <h3>Copyrigth 1999-2020 MercadoLiebre S.R.L</h3>
        </div>
    </footer>
</body>
</html>