<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %> 
<section class = "forms">
<form action ="" method = "POST" class ="log-in">

    <div class="barras">
        <input type ="text" class = "user" placeholder="Usuario" required>
        <input type ="text" class = "pass" placeholder="Contraseña" required>
    </div>
    <div class ="botones">
        <button class = "btn-apply" type = "submit">Enviar</button>
    </div>

</form>
</section>

<%- include('partials/footer') %>
</body>
</html>